worker_processes 1;

events {
    worker_connections 1024;
    use poll;
}

http {
    server {
        listen 8080;
        server_name localhost;

        location / {
            root /mnt/c/Users/Aluno/Desktop/webserv/www;
            index index.html;
            autoindex on;
        }

        location /upload/ {
            upload_dir /mnt/c/Users/Aluno/Desktop/webserv/www/uploads;
        }
    }
}
