worker_processes 1;

events {
    worker_connections 1024;
    use poll;
}

http {
    server {
        listen 8080;
        server_name localhost;
        
        location / {
            root ./www;
            index index.html;
            autoindex on;
            allow_methods GET;
        }

        location /upload/ {
            upload_dir ./www/uploads;
            allow_methods POST DELETE;
        }

        location /cgi-bin/ {
            root ./www;
            cgi_extension .py /usr/bin/python3;
            cgi_extension .sh /bin/bash;
            allow_methods GET POST;
        }
    }
}