events {
    worker_connections 1024;
    use poll;
}

http {
    server {
        listen 8080;
        
        location / {
            root ./www;
            index index.html;
            autoindex on;
            allow_methods GET;
        }

        location /upload/ {
            upload_dir ./www/uploads;
            allow_methods POST DELETE;
        }

        location /cgi-bin/ {
            root ./www;
            autoindex on;
            cgi_extension .py /usr/bin/python3;
            cgi_extension .sh /bin/bash;
            allow_methods GET POST;
        }
        
        location /secrets/ {
            root www;
            require_auth on;
        }
    }

    server {
        listen 8080;
        server_name site1.local;
        root ./www/site1;
    }

    server {
        listen 8080;
        server_name site2.local;
        
        location / {
            root ./www/site2;
            index index.html;
            autoindex on;
            allow_methods GET;
        }
    }
}